.main-container {
   display: flex;
   justify-content: space-between;
   width: 100%;
   align-items: center;
   padding: 1.5rem;
   position: fixed;
   top: 0;
   background: rgb(38, 38, 82);
   left: 0;
   box-shadow: 0px 0px 10px rgb(38, 38, 82);
   transition: all .4s ease-in-out;
   z-index: 100;
}

.nav_content {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.7rem;
    margin-right: 1.7rem;
}

/* .nav_content a:hover {
    background: rgba(191, 149, 149, 0.3);
} */
.nav_content a.active {
    /* background: var(--color-primary); */
    color: orange;
}

.main-logo{
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.main-logo img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

.logo_text{
    font-size: 20px;
    font-weight: bold;
}

.logo_with {
    color: yellow;
}

.show {
    display: none;
}

.menu-flex{
    display: flex;
    align-items: center;
    margin-right: 15px;
}

.blog-btn {
    border: 2px solid white;
    padding: .8rem 1rem;
    border-radius: 5px;
    text-align: center;
    background-color: transparent;
    color: var(--color-primary);
    font-size: 16px;
    font-weight: bold;
    
}

.blog-btn:hover {
    background: white;
    color: black;
}


@media screen and (max-width : 600px) {

    .blog-btn {
        padding: 1rem 2rem;
        font-size: 16px;
    }

    .nav_content{
        display: none;
        border-top: 1px solid white;   
        border-bottom: 1px solid white;  
    }

    .show {
        display: block;
       }

      #display-nav, 
      #no-display {
        display: flex;
        flex-direction: column;
        align-items: center;
        background: rgb(38, 38, 82);
        padding-top: 1.5rem;
        position: absolute;
        left: 0;
        right: 0;
        top: 5.4rem;
        width: 100%;
        transition: all 0.5s;
        
       }
    
       #display-nav{
        animation: slide-in 0.7s ease-in-out;
        
       }
       
       #no-display {
           left: -100%;
           animation: slide-out 0.5s ease-in-out;
        
       }
    
      #display-nav a, #no-display a {
        text-align: center;
        border-bottom: 0.5px solid white;
        width: 100%;
        padding-bottom: 1.3rem ;
       }
    
       @keyframes slide-in {
        0%{
            transform: translateX(-100%);
        }
        100%{
            transform: translateX(0);
        }
        
       }
    
       @keyframes slide-out {
        0%{
            transform: translateX(0%);
        }
        100%{
            transform: translateX(-100%);
        }
       }

}