.main-container {
   display: flex;
   justify-content: space-between;
   width: 100%;
   align-items: center;
   padding: 1.5rem;
   position: fixed;
   top: 0;
   background: rgb(38, 38, 82);
   left: 0;
   box-shadow: 0px 0px 10px rgb(38, 38, 82);
   transition: all .4s ease-in-out;
   z-index: 100;
}

.nav_content {
    display: flex;
    justify-content: center;
    gap: 2rem;
    margin-right: 3rem;
}

.nav_content a:hover {
    background: rgba(191, 149, 149, 0.3);
}
.nav_content a.active {
    /* background: var(--color-primary); */
    color: orange;
}

.logo_text{
    font-size: 20px;
    font-weight: bold;
}

.logo_with {
    color: yellow;
}

.show {
    display: none;
}


@media screen and (max-width : 600px) {

    .nav_content{
        display: none;
        /* border: 1px solid white;    */
    }

    .show {
        display: block;
       }

      #display-nav, 
      #no-display {
        display: flex;
        flex-direction: column;
        align-items: center;
        background: rgb(38, 38, 82);
        padding-top: 1.5rem;
        position: absolute;
        left: 0;
        right: 0;
        top: 5.4rem;
        width: 100%;
        transition: all ease-in;
        
       }
    
       #display-nav{
        animation: slide-in 0.7s ease-in;
        
       }
       
       #no-display {
           left: -100%;
           animation: slide-out 0.4s ease-in-out;
        
       }
    
      #display-nav a, #no-display a {
        text-align: center;
        border-bottom: 0.5px solid white;
        width: 100%;
        padding-bottom: 1.3rem ;
       }
    
       @keyframes slide-in {
        0%{
            transform: translateX(-100%);
        }
        100%{
            transform: translateX(0);
        }
        
       }
    
       @keyframes slide-out {
        0%{
            transform: translateX(0);
        }
        100%{
            transform: translateX(-100%);
        }
       }

}